<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection,  Microsoft.Practices.Unity.Configuration"/>
  </configSections>
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity"> 

    <container name="mvcContainer">

      <register type="UnityLearnning.intf.IUnityOfWork, UnityLearnning" mapTo="UnityLearnning.impl.UnityOfWork, UnityLearnning">
        <lifetime type="TransientLifetimeManager"/>
      </register>
      
      <register type="UnityLearnning.intf.IEmpService, UnityLearnning" mapTo="UnityLearnning.impl.EmpService, UnityLearnning">
        <lifetime type="TransientLifetimeManager"/>
      </register>  
      
    </container>

  </unity>
</configuration>